:root {
  --color-background: rgb(242, 239, 234);
  --font-color: rgb(115, 33, 33);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--font-color);
  background-color: var(--color-background);
  font-family: serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 20px;
}

header nav{
    display: flex;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0 0.3em;
}

h2{
    color: rgba(77, 77, 77);
    font-size: 1em;
    font-weight: 400;
}

h2::after {
content: "-";
color: rgba(77, 77, 77, 0.4);
padding: 0.5em;
}

header nav ul li:after {
    content:"/";
    color: rgba(77, 77, 77, 0.4);
    padding: 0.5em;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.product {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: rgb(77, 77, 77);
}

.image {
  order: -1;
  margin-bottom: 0.5em;
}

.type {
  font-family: sans-serif;
  letter-spacing: 0;
  font-size: smaller;
}

.name {
  border-bottom: 1px solid rgba(77, 77, 77, 0.4);
  margin-bottom: 0.7em;
}

.discription {
  border: 0.1em solid rgba(77, 77, 77, 0.2);
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.discription p {
  border-bottom: 0.1em solid rgba(77, 77, 77, 0.2);
  padding-top: 0.7em;
  font-family: sans-serif;
  letter-spacing: 0;
  font-size: smaller;
  font-style: italic;
  text-transform: none;
}

a.button {
max-width: 50%;
  border: 0.1em solid var(--font-color);
  box-sizing: border-box;
  text-decoration: none;
  color: var(--font-color);
  text-align: center;
  transition: all 0.4s;
  font-family: sans-serif;
  font-size: 0.7em;
 
  letter-spacing: 0;
align-self: center;
padding: 0.2em;
margin: 0.5em 0 0.3em 0;
}
a.button:hover {
  color: #ffff;
  background-color: var(--font-color);
}
